::ng-deep .p-card{
    box-shadow: none !important;
}

::ng-deep .p-card .p-card-body, ::ng-deep .p-card .p-card-content{
    padding: 0 !important;
}

::ng-deep .p-multiselect-panel{
    width: 250px !important;
}


::ng-deep .p-multiselect-panel{
    width: 250px !important;
}